body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculadora{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
    text-align: center;
}

h1{
    margin-bottom: 15px;
    color: #333;
}

#pantalla{
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border: 2px solid #6fe74d;
    border-radius: 8px;
    box-sizing: border-box;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button{
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #79c9ff;
    color: rgb(255, 234, 0);
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #2980b9;
    transform: scale(1.05);
}

.limpiar{
    grid-column: span 4;
    background: #f91a01;
}

.limpiar:hover{
    background: #c0392b;
}
